.store
  - if notice
    %p#notice= notice
  %h1= t('.catalog')
  - cache ['store', Product.latest] do
    - @products.each do |product|
      - cache ['entry', product] do
        .entry
          = image_tag product.image_url
          %h3= link_to product.title, product
          = sanitize product.description
          .price_line
            %span.price= number_to_currency(local_price(product.price), precision: 2,  separator: ".", delimiter:  " ")
            = button_to t('.add_cart_html'), line_items_path(product_id: product.id), remote: true